* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1024px;
    margin: 2rem auto;
    padding: 0 1rem;
    border-radius: 8px;

    
}
header{
    text-align: center;
}
body{
background-color: rgb(73, 27, 27);
color: rgb(255, 255, 255);
font-family: Arial, sans-serif;
}
.product{
    background-color: rgb(136, 84, 84);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}


