* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1024px;
    margin: 2rem auto;
    padding: 0 1rem;
    border-radius: 8px;

    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
body{
background-color: rgb(73, 27, 27);
color: rgb(255, 255, 255);
font-family: Arial, sans-serif;
}
.product{
    background-color: rgb(136, 84, 84);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.cardWrapper {
    position: relative;
    width: fit-content;
}

.cart {
position: absolute;
width: 300px;
right: -0.5rem;
background-color: white;
top: 2.3rem;
}

.cart:before {
content: "";
height: 1rem;
z-index: 5;
position: absolute;
bottom: 1.3rem;
right: 0.2rem;
border: 1rem solid transparent;
border-bottom-color: rgb(255, 255, 255);
border-bottom-width: 1rem;
}
